.navbar{
    background-color: yellow;
    color: black;
}
.nav-brand{
    display: inline-block;
    margin-right: 100px;
    margin-left: 10px;
}
.nav-menu{
    display: inline-block;
    margin: 0px 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;

}